body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 2em;
  margin-bottom: 10px;
}

.filters button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  background-color: #444;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.filters button:hover {
  background-color: #777;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  padding: 20px;
}

.gallery img {
  width: 50%;
  height: 50%;
  border-radius: 8px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.gallery img:hover {
  transform: scale(0.6);
}

/* Lightbox */
.lightbox {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0; left: 0;
  width: 50%; height: 50%;
  background: rgba(0, 0, 0, 0.9);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lightbox-img {
  max-width: 90%;
  max-height: 80%;
  border: 5px solid white;
  border-radius: 10px;
}

.lightbox .close {
  position: absolute;
  top: 20px; right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.lightbox-nav button {
  margin: 20px 10px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .gallery {
    grid-template-columns: 1fr;
  }

  .filters button {
    padding: 8px 12px;
    font-size: 14px;
  }
}
